// Задний фон header
$header-bgc: #6363cd;
// Кнопка Add Book
$add-book: #008cff;

// Цвет при наведении на Add Book
$add-book-hover: #1b82d5;

// Цвет при наведении на пункт с книгой и автором
$book-list-hover: #dbe4f8;
