// Задний фон header
$header-bgc: #6363cd;

// Кнопка Add Book
$add-book: #008cff;

// Цвет при наведении на Add Book
$add-book-hover: #1b82d5;

// Цвет при наведении на пункт с книгой и автором
$book-list-hover: #dbe4f8;

// Цвет при наведении на кнопку удалить
$delete-book-hover: rgba(255, 0, 0, 0.164);

// Цвет для иконки добавления в избранное
$favorite-icon: #fca510;
